
@model WebApplication8.Models.DataRegisterViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>
@using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="container">       
        <p>To make the tabs toggleable, add the data-toggle="tab" attribute to each link. Then add a .tab-pane class with a unique ID for every tab and wrap them inside a div element with class .tab-content.</p>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Datos Personales</a></li>
            <li><a data-toggle="tab" href="#menu1">Datos Moto</a></li>
            <li><a data-toggle="tab" href="#menu2">Viajes</a></li>
            <li><a data-toggle="tab" href="#menu3">Cambio Contraseña</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">


                <h3>Datos Personales</h3>
                <p>Complete los siguientes Datos</p>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                @Html.LabelFor(m => m., new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.RegisterFullViewModel.nombre, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RegisterFullViewModel.apellido, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.RegisterFullViewModel.apellido, new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.RegisterFullViewModel.doc_tipo, new { @class = "col-md-2 control-label" })

                <div class="col-md-4">
                    @Html.EnumDropDownListFor(m => m.RegisterFullViewModel.doc_tipo, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RegisterFullViewModel.num_doc, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.RegisterFullViewModel.num_doc, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RegisterFullViewModel.pais, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.RegisterFullViewModel.pais, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RegisterFullViewModel.f_nac, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.RegisterFullViewModel.f_nac, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RegisterFullViewModel.tel, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.RegisterFullViewModel.tel, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RegisterFullViewModel.calle, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.RegisterFullViewModel.calle, new { @class = "form-control" })
                </div>
            </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.RegisterFullViewModel.altura, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.RegisterFullViewModel.altura, new { @class = "form-control" })
                    </div>
                </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RegisterFullViewModel.depto, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.RegisterFullViewModel.depto, new { @class = "form-control" })
                </div>
            </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.RegisterFullViewModel.piso, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.RegisterFullViewModel.piso, new { @class = "form-control" })
                    </div>
                </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RegisterFullViewModel.codpost, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.RegisterFullViewModel.codpost, new { @class = "form-control" })
                </div>
            </div>

            </div>
            <div id="menu1" class="tab-pane fade">
                <h3>Datos Moto</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>Viajes</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3>Cambio de Contrase</h3>
                <dl class="dl-horizontal">
                    <dt>Password:</dt>
                    <dd>
                        [
                        @if (Model.IndexViewModel.HasPassword)
                        {
                            @Html.ActionLink("Change your password", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Create", "SetPassword")
                        }
                        ]
                    </dd>
                    <dt>External Logins:</dt>
                    <dd>
                        @Model.IndexViewModel.Logins.Count [
                        @Html.ActionLink("Manage", "ManageLogins") ]
                    </dd>
                    @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
                    *@
                    @*
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </dd>
                    *@
                    <dt>Two-Factor Authentication:</dt>
                    <dd>
                        <p>
                            There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                            for details on setting up this ASP.NET application to support two-factor authentication.
                        </p>
                        @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
                    </dd>
                </dl>
            </div>
        </div>
    </div>
}

</div>
