@model WebApplication8.traslado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>traslado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tarifa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarifa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calle_in)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calle_in)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.altura_in)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.altura_in)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.piso_in)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.piso_in)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dep_in)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dep_in)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calle_fn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calle_fn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.altura_fn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.altura_fn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.piso_fn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.piso_fn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dep_fn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dep_fn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.tipo_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.tipo_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario_moto.id_moto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario_moto.id_moto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codigo_tras }) |
    @Html.ActionLink("Back to List", "Index")
</p>
