@model IEnumerable<WebApplication8.usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
<<<<<<< HEAD
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
=======
>>>>>>> eec724b12c477201fb1001e2181c19dabdbe70a3
            @Html.DisplayNameFor(model => model.usuario_moto.id_moto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doc_tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.num_doc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_nac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.altura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailConfirmado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cp)
        </th>
        <th>
<<<<<<< HEAD
            @Html.DisplayNameFor(model => model.PasswordHash)
=======
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfirmPassword)
>>>>>>> eec724b12c477201fb1001e2181c19dabdbe70a3
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
<<<<<<< HEAD
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
=======
>>>>>>> eec724b12c477201fb1001e2181c19dabdbe70a3
            @Html.DisplayFor(modelItem => item.usuario_moto.id_moto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doc_tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.num_doc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_nac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.calle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.altura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailConfirmado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cp)
        </td>
        <td>
<<<<<<< HEAD
            @Html.DisplayFor(modelItem => item.PasswordHash)
=======
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConfirmPassword)
>>>>>>> eec724b12c477201fb1001e2181c19dabdbe70a3
        </td>
     
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.usuario_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.usuario_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.usuario_id })
        </td>
    </tr>
}

</table>
