@model WebApplication8.Factura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.importe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.importe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Traslado.tarifa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Traslado.tarifa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.id_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.id_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario_Moto.id_moto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario_Moto.id_moto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.num_factura }) |
    @Html.ActionLink("Back to List", "Index")
</p>
