@model IEnumerable<WebApplication8.Factura>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.importe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Traslado.tarifa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.id_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario_Moto.id_moto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Traslado.tarifa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.id_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario_Moto.id_moto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.num_factura }) |
            @Html.ActionLink("Details", "Details", new { id=item.num_factura }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.num_factura })
        </td>
    </tr>
}

</table>
