@model WebApplication8.traslado

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>traslado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tarifa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarifa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calle_in)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calle_in)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.altura_in)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.altura_in)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.piso_in)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.piso_in)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dep_in)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dep_in)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calle_fn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calle_fn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.altura_fn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.altura_fn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.piso_fn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.piso_fn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dep_fn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dep_fn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_viaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_viaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.tipo_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.tipo_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario_moto.id_moto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario_moto.id_moto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
