@model IEnumerable<WebApplication8.traslado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo_tras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.id_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario_moto.id_moto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tarifa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.calle_in)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.altura_in)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.piso_in)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dep_in)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.calle_fn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.altura_fn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.piso_fn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dep_fn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_viaje)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codigo_tras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.id_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario_moto.id_moto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tarifa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.calle_in)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.altura_in)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.piso_in)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dep_in)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.calle_fn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.altura_fn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.piso_fn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dep_fn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_viaje)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.codigo_tras }) |
            @Html.ActionLink("Details", "Details", new { id = item.codigo_tras }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.codigo_tras })
        </td>
    </tr>
}

</table>
