@model WebApplication8.Models.RegisterViewModel
@{
    ViewBag.Title = "Registro";
}
<picture>
    <source media="(min-width: 601px)" srcset="~/Content/Logo_Moto.png">
    <source media="(max-width: 600px)" srcset="~/Content/Logo_Moto2.png">
    <img src="~/Content/Logo_Moto.png" alt="Moto-Delivery" style="width:100%;">
</picture>
<div class="text-center">
    <h2>@ViewBag.Title</h2>
</div>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="text-center">
            <h4>Registrar nueva cuenta</h4>
</div>

            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="container">
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-5 control-label" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-5 control-label" })
                    <div class="col-md-4">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-5 control-label" })
                    <div class="col-md-4">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-4">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>
            </div>

            }

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
