@model IEnumerable<WebApplication8.Usuario_Moto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.patente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_moto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.id_Usuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.patente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_moto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.id_Usuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_moto }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_moto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_moto })
        </td>
    </tr>
}

</table>
